<div class='account-created'>
  <div class='account-created__title'>
    <h1 class='account-created__title--main'>
      {{t 'createAccount.success.heading'}}
    </h1>
  </div>

  <section class='account-created__content'>
    <p>
      {{t 'createAccount.success.copy' email=email}}
    </p>
  </section>
</div>
