<form>
  {{student-fields errors=student.errors schools=schools update='update'}}
  <div class='button-group'>
    <button class='form__cta--save' {{action 'save'}}>Save</button>
    <button class='form__cta--cancel' {{action 'cancel'}}>Cancel</button>
  </div>
</form>
