<form class='form--add-student'>
  {{student-fields errors=student.errors schools=schools update='update'}}
  <div class='button-group'>
    {{#spin-button action=(action 'save') class='form__cta--save'}}{{ t 'actions.save' }}{{/spin-button}}
    <button class='form__cta--cancel' {{action 'cancel'}}>{{ t 'actions.cancel' }}</button>
  </div>
</form>
