{{#page-layout}}
  <div class='invalid-district'>
    <div class='invalid-district__title'>
      <h1 class='invalid-district__title--main'>
        {{fa-icon icon='warning'}} District Not Found
      </h1>
    </div>

    <section class='invalid-district__content'>
      <p>
        There is no school district configured for this SchoolBot URL.
        Please ensure you've typed the URL correctly.
      </p>
    </section>
  </div>
{{/page-layout}}
