<label class='locale-picker__label'>
  Language:
  {{#x-select class='locale-picker__select' action='setLocale' value=i18n.locale}}
    {{#each locales as |locale|}}
      {{#x-option value=locale.id}}{{locale.label}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</label>
