<section class='main__outer--page-view about__content-wrapper about__content-wrapper--intro'>
  <div class='main__inner--page-view'>
    <div class='logo'>Schoolbot</div>
    <div class='about__content about__content--intro'>
      <h1>Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    </div>
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--district'>
  <div class='about__content about__content--district'>
    <h1>District</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    {{input class='about__input about__input--district' placeholder='email here'}}
    <button class='about__cta about__cta--district' type='submit'>Submit</button>
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--parent'>
  <div class='about__content about__content--parent'>
    <h1>Parent</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis. Phasellus eget sapien nibh. Praesent ac lacus nec ligula aliquet eleifend in nec tellus. Quisque mollis sed dui at efficitur. Suspendisse luctus mattis velit, sit amet blandit sapien fringilla vitae. Fusce faucibus ante sem, at mattis ex vestibulum ut.</p>
    {{input class='about__input about__input--parent' placeholder='email here'}}
    <button class='about__cta about__cta--parent' type='submit'>Submit</button>
  </div>
</section>

<section class='about__content-wrapper about__content-wrapper--faq'>
  <div class='about__content'>
    <div class='about__content--faq__comment'>
      <h1>What do you think?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{textarea class='about__input' rows="5" placeholder='Tell us what you think...'}}
      <button class='about__cta about__cta--faq' type='submit'>Submit</button>
    </div>
    <div class='about__content--faq__share'>
      <h1>Share</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere mi quis libero hendrerit, eget pulvinar felis sagittis. Suspendisse ac nisi tempus, vehicula felis id, bibendum est. Nullam ac urna in justo convallis consectetur vel in lorem. Donec at ipsum id orci commodo ultricies at in felis.</p>
      {{input class='about__input' placeholder='Tell us what you think...'}}
      <button class='about__cta about__cta--faq' type='submit'>Submit</button>
    </div>
  </div>
</section>

<footer class='about__footer'>
  <div class='about__content about__content--footer'>
    <div class='about__footer__logo'>Powered by Vermonster</div>
  </div>
</footer>
