{{! Facebook button setup }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{{! Twitter button setup }}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<section class='main__outer--page-view'>
  <div class='about__content-wrapper--intro'>
    <div class='logo'>Schoolbot</div>
    <div class='about__content about__content--intro'>
      <h1 class='about__heading'>Welcome!</h1>
      SchoolBot is an application that maps the locations of school buses. It is available to parents of students in participating school districts, and works on a wide variety of devices.
      {{#scroll-to href='#districts' tagName='button' class='about__cta about__cta--learn'}}Learn more{{/scroll-to}}
    </div>
  </div>
</section>

<section id='districts' class='about__content-wrapper--district'>
  <div class='about__content about__content--district'>
    <h1 class='about__heading'>For School Districts</h1>
    <p>If you work for a school district, you should know:</p>
    <ul class='about__content__list'>
      <li class='about__content__list-item--district'>SchoolBot uses your existing Zonar Ground Traffic Control subscription to provide live bus mapping.</li>
      <li class='about__content__list-item--district'>You can export student bus assignment data to SchoolBot from Versatrans or any other system.</li>
      <li class='about__content__list-item--district'>SchoolBot uses one-way encryption to ensure identifiable student data is never transmitted or stored.</li>
      <li class='about__content__list-item--district'>SchoolBot is fully <a class='about__content__link' href='http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html' target='_blank'>FERPA</a>-compliant.</li>
    </ul>
    <p>To learn more about SchoolBot and how you can offer it in your district, enter your email address below and we'll get in touch!</p>
    {{#if districtContactSubmitted}}
      <p class='about__form__feedback about__form__feedback--success'>Thanks for your interest – we'll contact you soon!</p>
    {{else}}
      <form class='about__form' {{action 'submitDistrictContact' on='submit'}}>
        {{input class='about__input about__input--district' placeholder='Enter your email address' value=districtContactEmail}}
        <button class='about__cta about__cta--district' type='submit' disabled={{districtContactInFlight}}>Submit</button>
      </form>
      {{#if districtContactErrored}}
        <p class='about__form__feedback'>There was a problem submitting your email. Check your network connection and try again, or <a class='about__content__link' href="mailto:schoolbot-contact@vermonster.com?subject=SchoolBot information request">email us directly</a>.</p>
      {{/if}}
    {{/if}}
  </div>
</section>

<section class='about__content-wrapper--parent'>
  <div class='about__content about__content--parent'>
    <h1 class='about__heading'>For Parents and Guardians</h1>
    <p>If you are a parent or guardian of a student, you should know:</p>
    <ul class='about__content__list'>
      <li class='about__content__list-item--parent'>You can start and end your day feeling more relaxed because you know when your child's bus is approaching.</li>
      <li class='about__content__list-item--parent'>The position of your child's bus is plotted on a map in real time – and if you have more than one student in the district, you can view bus locations for all of them.</li>
      <li class='about__content__list-item--parent'>SchoolBot complies with federal regulations on storing student data, and uses secure connections to protect your data.</li>
    </ul>
    <p class='about__content__copy--parent'>If you think SchoolBot is a good idea, why not tell your school district administrators about it?</p>
  </div>
</section>

<section class='about__content-wrapper--share'>
  <div class='about__content'>
    <h1 class='about__heading'>Share</h1>
    <p>If SchoolBot seems interesting or useful, please spread the word on your networks!</p>

    <div class='social-media'>
      <a class='social-media__cta social-media__cta--email' href="mailto:?subject=SchoolBot: a secure school bus tracking app&body=Check out SchoolBot: https://schoolbot.io">Email</a>
      <div class="fb-share-button social-media__cta social-media__cta--fb" data-href="https://schoolbot.io" data-layout="button"></div>
      <div class='social-media__cta social-media__cta--twitter'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://schoolbot.io" data-text="SchoolBot: a secure school bus tracking app" data-size="large" data-count="none">Tweet</a>
      </div>
    </div>
  </div>
</section>

<footer class='about__footer'>
  <div class='about__content about__content--footer'>
    <span class='about__footer__copyright'>© 2015</span>
    <a class='about__footer__logo' href='http://www.vermonster.com/' target='_blank'>Vermonster</a>
  </div>
</footer>
