<div id="fb-root"></div> {{! required for Facebook button }}

<section class='main__outer--page-view'>
  <div class='about__content-wrapper--intro'>
    <div class='logo'>Schoolbot</div>
    <div class='about__content about__content--intro'>
      <h1 class='about__heading about__heading--welcome'>Welcome!</h1>
      <p>SchoolBot is an open-source application that maps the locations of school buses. It is available to parents and guardians of students in participating school districts, and works on a wide variety of devices.</p>
      {{#scroll-to href='#districts' tagName='button' class='about__cta about__cta--learn'}}Learn more{{/scroll-to}}
    </div>
  </div>
</section>

<section id='districts' class='about__content-wrapper--district'>
  <div class='about__content about__content--district'>
    <h1 class='about__heading'>For School Districts</h1>
    <p>If you work for a school district or transport provider, you should know:</p>
    <ul class='about__content__list'>
      <li class='about__content__list-item--district'>SchoolBot uses an existing Zonar Ground Traffic Control subscription to provide live bus mapping.</li>
      <li class='about__content__list-item--district'>You can export student bus assignments to SchoolBot from any student information system, using a simple API.</li>
      <li class='about__content__list-item--district'>SchoolBot is <a href='http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html' target='_blank'>FERPA</a>-compliant, and never transmits or stores identifiable student data.</li>
      <li class='about__content__list-item--district'>We offer SchoolBot as a subscription service, but the code behind it is <a href='https://github.com/Vermonster/schoolbot/blob/master/README.md'>open-source</a> and free for anyone to use or modify. You can contribute new features and integrations, or even run SchoolBot on your own servers.</li>
    </ul>
    <p>To learn more about SchoolBot and how you can offer it in your district, email us at <a href='mailto:schoolbot@vermonster.com'>schoolbot@vermonster.com</a> and we'll be in touch!</p>
  </div>
</section>

<section class='about__content-wrapper--parent'>
  <div class='about__content about__content--parent'>
    <h1 class='about__heading'>For Parents and Guardians</h1>
    <p>If you are a parent or guardian of a student, you should know:</p>
    <ul class='about__content__list'>
      <li class='about__content__list-item--parent'>You can start and end your day feeling more relaxed because you know when your child's bus is approaching.</li>
      <li class='about__content__list-item--parent'>The position of your child's bus is plotted on a map in real time – and if you have more than one student in the district, you can view bus locations for all of them.</li>
      <li class='about__content__list-item--parent'>SchoolBot complies with federal regulations on storing student data, and uses secure connections to protect your data.</li>
    </ul>
    <p class='about__content__copy--parent'>If you think SchoolBot is a good idea, why not tell your school district administrators about it?</p>
  </div>
</section>

<section class='about__content-wrapper--share'>
  <div class='about__content'>
    <h1 class='about__heading'>Share</h1>
    <p>If SchoolBot seems interesting or useful, please spread the word on your networks!</p>

    <div class='social-media'>
      <a class='social-media__cta social-media__cta--email' href="mailto:?subject=SchoolBot: a secure school bus tracking app&body=Check out SchoolBot: https://schoolbot.io">Email</a>
      <div class="fb-share-button social-media__cta social-media__cta--fb" data-href="https://schoolbot.io" data-layout="button"></div>
      <div class='social-media__cta social-media__cta--twitter'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://schoolbot.io" data-text="SchoolBot: a secure school bus tracking app" data-size="large" data-count="none">Tweet</a>
      </div>
    </div>
  </div>
</section>

<footer class='about__footer'>
  <div class='about__content about__content--footer'>
    <span class='about__footer__copyright'>© 2015</span>
    <a class='about__footer__link' href='http://www.vermonster.com/' target='_blank' aria-label='Vermonster LLC'>
      <img src='assets/images/logo_vermonster_footer.svg' alt='Vermonster LLC'/>
    </a>
  </div>
  <div class='terms-links__wrapper--main-landing'>
    {{terms-privacy-links}}
  </div>
</footer>
