<div class='terms-links'>
  {{#link-to 'terms' class='terms-link' target='_blank'}} {{ t 'links.terms' }} {{/link-to}} |
  {{#link-to 'privacy' class='terms-link' target='_blank'}} {{ t 'links.privacy' }} {{/link-to}}
</div>
