<div class='terms-links'>
  {{#link-to 'terms' class='terms-link' target='_blank'}}Terms of Service{{/link-to}} |
  {{#link-to 'privacy' class='terms-link' target='_blank'}}Privacy Policy{{/link-to}}
</div>
