<form>
  <fieldset>
    <legend>My Students<button class='btn--add-icon'>+</button></legend>
    <label for='student-last-name' class='add-student__label--last-name'>Last Name</label>
    <input id='student-last-name' type='text'>
    <label for='studnet-id' class='add-student__label--student-id'>Student ID</label>
    <input id='student-id' type='text'>
    <label for='student-birthdate' class='add-student__label--birthdate'>Birthdate</label>
    <input id='student-birthdate' type='text'>
    <label for='school'>School</label>
    <select id='school'>
      <option value='1'>School 1</option>
      <option value='2'>School 2</option>
      <option value='3'>School 3</option>
    </select>
    <button class='btn--add-student'>Add</button>
  </fieldset>
</form>
