<form>
  <fieldset>
    <legend class='modal__section-heading'>Student Information</legend>
    <input id='student-last-name' type='text' placeholder='Last Name'>
    <input id='student-id' type='text' placeholder='Student ID Number'>
    <input id='student-birthdate' type='text' placeholder='Birthday (MM/DD/YYYY)'>
    <input id='student-nickname' type='text' placeholder='Nickname'>
    <label for='school'>School</label>
    <select id='school'>
      <option value='1'>School 1</option>
      <option value='2'>School 2</option>
      <option value='3'>School 3</option>
    </select>
    <div class='button-group'>
      <button class='form__cta--save'>Save</button>
      <button class='form__cta--cancel' {{action 'toggleAddStudent'}}>Cancel</button>
    </div>
  </fieldset>
</form>
