<div class='main__outer--map-view'>
  {{bus-map students=students user=currentUser}}

  {{outlet}}

  <div class='menu'>
    {{#link-to 'map.settings' replace=true tagName='button' class='btn--settings'}}
      {{fa-icon 'user'}}
      <span class='btn--settings__text'>My Settings</span>
    {{/link-to}}
    <div class='terms-links__wrapper--map'>
      {{terms-privacy-links}}
    </div>
  </div>
</div>
