<div class='modal__fade-screen'>
  <div class='modal'>
    <h2 class='modal__title'>My Account</h2>
    <div class='modal__body'>
      <div class='form__my-students'>
        {{render 'add-students-form'}}
      </div>
    </div>
  </div>
  <button class='modal__close' {{action 'closeModal' 'modal'}}>Close</button>
</div>
