{{#page-layout}}
  <div class='not-found'>
    <div class='not-found__title'>
      <h1 class='not-found__title--main'>
        {{fa-icon 'warning'}} Nothing Here
      </h1>
    </div>

    <section class='not-found__content'>
      <p>
        There isn't anything at this address.
        Try the {{#link-to 'index'}}home page{{/link-to}}
        – you can find your way from there.
      </p>
    </section>
  </div>
{{/page-layout}}
