{{#page-layout}}
  <div class='terms'>
    <h1 class='terms__title'>Privacy Policy</h1>
    <div class='terms__content'>
      <p>SchoolBot (the “Service”) is a web application provided by Vermonster LLC (“us”, “we”, “our”). This Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information.</p>
    </div>

    <h2 class='terms__title'>Definitions</h2>
    <div class='terms__content'>
      <p><b>"Non-personal information"</b> is information that is not sufficient to personally identify you, or information about you that is publicly available. Such information may be automatically collected when you access the Service.</p>
      <p><b>"Personal information"</b> is non-public information that is sufficient to personally identify you. This may include your full name, email address, and other related information that you provide to us in order to personalize and access some parts of the Service.</p>
    </div>

    <h2 class='terms__title'>Information We Collect</h2>
    <div class='terms__content'>
      <p>In general, you are in control of the amount and type of information you provide to us. In the case of non-personal information, you may configure your web browser not to provide it. In the case of personal information, you may choose not to enter it into the Service.</p>
    </div>

    <h3 class='terms__title'>Device Information</h3>
    <div class='terms__content'>
      <p>When you use the Service, we automatically collect certain non-personal information about your device and web browser, by virtue of how your web browser interacts with the Service. This includes the name of the web site from which you accessed the Service, the IP address of your computer or the proxy server that you use to access the internet, the name of your web browser, and your device’s screen size and orientation. We may use this information to customize the Service to work better with your device, or in aggregate to identify trends among our visitors.</p>
      <p>We may also use tools that collect additional non-personal information about your use of the Service, such as which links you follow or how long you spend on a given page. We may share this information with third parties as needed for analysis and research purposes to improve the features and content of the Service.</p>
    </div>

    <h3 class='terms__title'>Personal Information</h3>
    <div class='terms__content'>
      <p>When you register for a user account with the Service, you provide us with certain personal information, such as your name and email address. Additionally, when you associate a student with your user account on the Service, you provide us with certain personal information about the student, such as their first name and the school they attend.</p>
      <p>We do not sell or otherwise provide this personal information to any third parties except as needed to operate and improve the Service, or with your explicit permission. When we share this information with affiliates who provide services to us (e.g. analytics, text messaging, error reporting), they will receive only the information necessary to provide their respective services and will be bound by confidentiality agreements limiting the use of such information.</p>
      <p>We may share this personal information with administrators or other agents of the school district your account is registered under, for the purpose of identifying you within their own records. Your school district is not bound by the terms of this Privacy Policy, and we are not responsible for how they use and protect your information.</p>
    </div>

    <h3 class='terms__title'>Student Information</h3>
    <div class='terms__content'>
      <p>When you associate a student with your user account on the Service, certain personal information you enter about the student, as indicated in the interface, is encrypted by your web browser into a “digest” before sending it to us. Since it is intentionally infeasible to recover the original data from this digest, we do not and cannot store or share this information. Any student information not explicitly marked as such in the interface is not included in this encryption, and is subject to the sharing provisions described in the “Personal Information” section.</p>
    </div>

    <h2 class='terms__title'>How We Store Information</h2>
    <div class='terms__content'>
      <p>Our data storage is provided by third-party services with strong confidentiality agreements. While we cannot guarantee these services’ security will never be compromised, they have proven to be reliable and trustworthy, with a variety of policies and technical measures in place to prevent unauthorized access.</p>
      <p>Likewise, we enforce the use of secure connections (HTTPS) when accessing the Service. While we cannot guarantee this security will never be compromised, in theory this makes it infeasible for a third party to intercept or modify any information you transmit to our servers, or any information our servers transmit to your web browser.</p>
      <p>Unless otherwise indicated, we do not store personal information on your device. We may store certain non-personal information on your device using Cookies or Local Storage (also known as “Web Storage”) for the purpose of customizing the Service to your needs or automatically signing you into the Service on subsequent visits. Most web browsers can be configured to prevent specific web sites from using Cookies or Local Storage, although this may prevent you from accessing certain parts of the Service.</p>
    </div>

    <h3 class='terms__title'>FERPA Compliance</h3>
    <div class='terms__content'>
      <p>The U.S. Family Educational Rights and Privacy Act (FERPA) places certain restrictions on the transfer and storage of student information held by public schools. The Service does not transmit or store any student information considered “personally identifiable” under FERPA. We are committed to keeping the Service compliant with all applicable laws regarding student data.</p>
    </div>

    <h2 class='terms__title'>Other Web Sites</h2>
    <div class='terms__content'>
      <p>The Service may contain links to other web sites that are not under our direct control. These web sites may have their own policies regarding privacy, and are not subject to this Privacy Policy. You access such linked web sites at your own risk, and are encouraged to read their privacy policies to determine how they handle any information you provide them.</p>
    </div>

    <h2 class='terms__title'>Releases of Information</h2>
    <div class='terms__content'>
      <p>We may need to disclose your personal information if such disclosure is (a) required by subpoena, law, or other legal process; (b) necessary to assist law enforcement officials or government enforcement agencies; (c) necessary to investigate violations of or otherwise enforce our Terms and Conditions; (d) necessary to protect us from legal action or claims from third parties including you and/or other users; and/or (e) necessary to protect the legal rights, property, or personal safety of us, our users, employees, and affiliates.</p>
    </div>

    <h2 class='terms__title'>Changes to This Policy</h2>
    <div class='terms__content'>
      <p>We reserve the right to revise this Privacy Policy at any time. We will notify users at least 30 days in advance for substantive changes, but what constitutes a “substantive change” will be determined at our sole discretion.</p>
    </div>

  </div>
{{/page-layout}}
