<form class='form--sign-in' {{action 'signIn' on='submit'}}>

  {{#if errorMessage}}
    <div class="msg--error">
      {{errorMessage}}
    </div>
  {{/if}}

  {{input class='sign-in__form-field' placeholder='Your email' value=identification}}
  {{input class='sign-in__form-field' placeholder='Password' type='password' value=password}}

  <button class='btn--sign-in' type="submit">SIGN IN</button>
</form>
