{{#page-layout}}
  <div class='terms'>
    <h1 class='terms__title'>Terms of Service</h1>
    <div class='terms__content'>
      <p>SchoolBot (the “Service”) is a web application provided by Vermonster LLC (“us”, “we”, “our”). By registering for a user account with the Service, you indicate your agreement to be bound by these Terms.</p>
    </div>

    <h2 class='terms__title'>Service Access</h2>
    <div class='terms__content'>
      <p>Access to the Service requires a user account. You are solely responsible for safeguarding the credentials you use to access your account, and for any actions taken on the Service by anyone possessing your credentials.</p>
      <p>We may terminate or suspend your account at any time, for any reason, without prior notice. Such action may be necessary if, for example, we suspect your account to be compromised.</p>
    </div>

    <h2 class='terms__title'>No Warranties</h2>
    <div class='terms__content'>
      <p>The Service is operated on an “as is” and “as available” basis. We do not guarantee that the information provided on the Service is accurate, complete, reliable, useful, or current, or that the Service will operate without interruption or error.</p>
      <p>You agree not to hold us liable for any damage or loss caused in connection with your use of the Service, including as a result of errors or omissions in the information we provide you.</p>
    </div>

    <h2 class='terms__title'>Third-Party Data</h2>
    <div class='terms__content'>
      <p>The Service provides registered users with access to certain data from third-party services and affiliated school districts, such as student bus assignments and the locations of school buses. You acknowledge this data is not licensed for use outside the Service, and agree not to export, “scrape”, or otherwise transmit this data to third parties in ways that are not explicitly enabled by the design of the Service.</p>
    </div>

    <h2 class='terms__title'>Other Web Sites</h2>
    <div class='terms__content'>
      <p>We may provide links on the Service to third-party web sites. You acknowledge that we have no control over the content, privacy policies, or practices of any third-party web sites, and agree not to hold us liable for any damage or loss that may arise from your use of such.</p>
    </div>

    <h2 class='terms__title'>Changes to These Terms</h2>
    <div class='terms__content'>
      <p>We reserve the right to revise these Terms of Service at any time. We will notify users at least 30 days in advance for substantive changes, but what constitutes a “substantive change” will be determined at our sole discretion.</p>
      <p>By continuing to use the Service after revisions to the Terms of Service become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you must stop using the Service.</p>
    </div>

    <h2 class='terms__title'>Governing Law</h2>
    <div class='terms__content'>
      <p>These Terms of Service shall be governed and construed in accordance with the laws of the state of Massachusetts, without regard to its conflict of law provisions.</p>
      <p>Our failure to enforce any provision of these Terms will not be considered a waiver of that provision. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding the Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
    </div>
  </div>
{{/page-layout}}
