.about__content-wrapper {
  min-height: rem(480);
}

.about__content-wrapper--district {
  @include v-center-content-block;
  @include bg-gradient-with-lines(
    $color-tertiary, $color-tertiary, $color-tertiary-darken);
  //Temporary fix for the strange 1px blue line from the sibling div
  position: relative;
  margin-top: rem(-1);
  z-index: z('about-content-wrapper');
}

.about__content-wrapper--parent {
  @include v-center-content-block;
  @include bg-gradient-with-lines(
    $color-secondary-darken-4, $color-secondary-darken-3, $color-secondary-darken-4);
}

.about__content-wrapper--faq {
  @include v-center-content-block;
  @include bg-gradient-with-lines(
    $color-secondary, $color-secondary, $color-secondary-darken-2);
  min-height: calc(100vh - #{$footer-height});
}

.about__content {
  @extend %wrapper;

  padding-right: rem(35);
  padding-left: rem(35);
  color: $base-font-invert-color;
  font-size: rem(15);

  @include media($small-screen) {
    width: rem(500);
  }

  @include media($medium-screen) {
    width: rem(600);
    font-size: rem(16);

    h1 {
      font-size: rem(45);
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: rem(35);
    text-transform: uppercase;
  }
}

.about__content__list {
  padding-top: rem(20);
  padding-bottom: rem(30);
  counter-reset: itemNum;
}

.about__content__list-item--district {
  @include list-item-number;

  &:before {
    color: $color-tertiary;
  }
}

.about__content__list-item--parent {
  @include list-item-number;

  &:before {
    color: $color-secondary-darken-4;
  }
}

.about__content__copy--district,
.about__content__copy--parent {
  font-size: rem(17);
}

.about__content__link {
  color: $base-font-invert-color;
  text-decoration: underline;

  &:hover {
    color: $color-secondary-darken-2;
  }
}

.about__content--intro {
  padding-top: rem(140);

  @include media($small-screen) {
    padding-top: rem(180);
  }

  @include media($large-screen) {
    padding-top: rem(230);
  }
}

.about__content--faq__share {
  margin-top: rem(30);
  padding-top: rem(30);
}

.about__input {
  color: $base-font-color;

  @include placeholder {
    color: lighten($color-tertiary-darkest, 40%);
  }
}

input[type='text'] {

  &.about__input--district,
  &.about__input--parent {
    @include media($medium-screen) {
      width: calc(100% - #{rem(120)});
      margin-right: rem(5);
      float: left;
    }
  }
}

.about__cta {
  font-size: rem(18);
}

.about__cta--district,
.about__cta--parent {
  @include bg-gradient-with-lines(
    $color-secondary, $color-secondary, $color-secondary-darken-2, rem(2), rem(1));

  @include media($medium-screen) {
    float: left;
  }

  &:hover {
    background: $color-action-hover;
  }
}

.about__cta--faq {
  @include bg-gradient-with-lines(
    $color-tertiary-darkest, $color-tertiary-darkest, lighten($color-tertiary-darkest, 12%), rem(2), rem(1));

  &:hover {
    background: darken($color-tertiary-darkest, 10%);
  }
}

.about__content--footer {
  height: 100%;

  .no-flexbox & {
    padding-top: rem(12);
  }
}

.about__footer {
  @include black-gradient-with-lines;
  height: $footer-height;
}

.about__footer__copyright {
  display: inline-block;
  margin-top: rem(12);
  font-family: $heading-font-family;
  font-size: rem(10);
}

.about__footer__logo {
  @include hide-text;
  display: block;
  max-width: rem(80);
  max-height: rem(23);
  margin-top: rem(-10);
  background-image: image-path('logo_vermonster_footer.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
