%about-content-wrapper-padding {
  padding-top: rem(50);
  padding-bottom: rem(50);
}

.about__content-wrapper--district {
  @extend %about-content-wrapper-padding;
  @include bg-gradient-with-lines(
    $color-tertiary, $color-tertiary, $color-tertiary-darken);
  position: relative;
  z-index: z('about-content-wrapper');
}

.about__content-wrapper--parent {
  @extend %about-content-wrapper-padding;
  @include bg-gradient-with-lines(
    $color-primary, $color-primary, $color-primary-darken-2);
}

.about__content-wrapper--share {
  @extend %about-content-wrapper-padding;
  @include bg-gradient-with-lines(
    $color-primary-darken-3, $color-primary-darken-3, $color-primary-darken-4);
  min-height: auto;
}

.about__content {
  @include global-content-width;
  padding-right: rem(15);
  padding-left: rem(15);
  font-size: rem(15);

  @include media($small-screen) {
    padding-right: rem(35);
    padding-left: rem(35);
  }
}

.about__heading {
  margin-bottom: 0;
  font-size: rem(30);
  line-height: rem(35);
  text-transform: uppercase;

  @include media($medium-screen) {
    font-size: rem(35);
  }
}

.about__heading--welcome {
  margin-bottom: rem(5);
}

.about__content__list {
  padding-top: rem(10);
  padding-bottom: rem(30);
  font-size: rem(14);
  counter-reset: itemNum;

  @include media($medium-screen) {
    font-size: rem(16);
  }
}

.about__content__list-item--district {
  @include list-item-number($color-tertiary);
}

.about__content__list-item--parent {
  @include list-item-number($color-primary);
}

.about__content-wrapper--intro {
  @include global-content-width;
  position: relative;

  @media screen and (min-height: $background-min-height) {
    .flexbox & {
      @include v-center-content-block;
      height: 100vh;
    }
  }
}

.about__content--intro {
  // min-height = height of the text +
  //              logo height + landscape bg image height
  // to leave enough space for the text between sky and landscape
  min-height: rem(500);
  padding-top: rem(140);

  @media screen and (min-height: $background-min-height) {
    .flexbox & {
      height: auto;
      min-height: rem(300);
      margin: 0 auto;
      padding-top: 0;
    }
  }

  @media screen and (min-height: $background-min-height) and (min-width: $small-screen) {
    .flexbox & {
      min-height: rem(200);
    }
  }

  @media screen and (min-height: $background-min-height) and (min-width: $large-screen) {
    .flexbox & {
      min-height: rem(250);
    }
  }

  @include media($small-screen) {
    padding-top: rem(180);
  }

  @include media($large-screen) {
    padding-top: rem(230);
  }
}

.about__cta--learn {
  @include button-with-purple-stripes-bg;
  display: block;

  @include media($medium-screen) {
    float: left;
  }
}

.about__footer {
  @include black-gradient-with-lines;
  position: relative;
  height: $footer-height;
  color: $base-font-invert-color;

  .flexbox & {
    @include v-center-content-block;
  }
}

.about__content--footer {
  height: rem(27);
}

.about__footer__copyright {
  display: block;
  font-family: $heading-font-family;
  font-size: rem(10);

  .no-flexbox & {
    padding-top: rem(10);
  }
}

.about__footer__link {
  display: block;
  width: rem(80);
  height: rem(15);
  margin-top: rem(-8);
}
