.leaflet-top,
.leaflet-bottom {
  z-index: z('map-controls');
}

.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$menu-height});
  font: inherit;
}

.bus-marker {
  margin-top: rem(-53);
  margin-left: rem(-17);
  padding: rem(5) rem(10);
  border-radius: rem(5);
  background-color: $color-secondary-darken-4;
  color: $base-font-invert-color;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  filter: drop-shadow(rem(2) rem(3) rem(3) rgba(0, 0, 0, .5));

  &:before {
    position: absolute;
    top: 100%;
    left: rem(17);
    width: 0;
    height: 0;
    margin-left: rem(-6);
    border: solid transparent;
    border-width: rem(6);
    border-top-width: rem(24);
    border-top-color: $color-secondary-darken-4;
    content: ' ';
  }
}

.leaflet-overlay-pane path {
  stroke: $bus-path-color;
  stroke-width: rem(4);
  stroke-dasharray: rem(9);
}
