.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$menu-height});
  font: inherit;

  a {
    color: inherit; // Cancel out default Leaflet link style
  }
}

.home-marker {
  width: rem(40);
  height: rem(40);
  background-image: image-path('home.svg');
  background-repeat: no-repeat;
}

.school-marker {
  width: rem(40);
  height: rem(40);
  background-image: image-path('school.svg');
  background-repeat: no-repeat;
}

.bus-marker {
  margin-top: rem(-65);
  margin-left: rem(-17);
  padding: rem(5) rem(10);
  border-radius: rem(5);
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: rem(11);
  font-style: italic;
  text-align: center;
  white-space: nowrap;
  filter: drop-shadow(rem(2) rem(3) rem(3) $color-bus-marker-shadow);

  &::before {
    position: absolute;
    top: 100%;
    left: rem(17);
    width: 0;
    height: 0;
    margin-left: rem(-6);
    border: solid transparent;
    border-width: rem(6);
    border-top-width: rem(24);
    border-top-color: $base-background-color;
    content: ' ';
  }
}

.bus-marker--time-ago {
  margin-top: rem(-81);
  margin-left: rem(-17);
}

.bus-marker__student-abbreviation {
  @include student-abbreviation;
  width: rem(30);
  height: rem(30);
  margin-right: 0;
  margin-bottom: rem(3);
  margin-left: $item-spacing;
  font-size: rem(20);
  font-style: normal;
  line-height: rem(22);

  &:first-child {
    margin-left: 0;
  }
}

.leaflet-overlay-pane path {
  stroke: $bus-path-color;
  stroke-width: rem(4);
  stroke-dasharray: rem(9);
}

.bus-map__controls {
  position: absolute;
  top: rem(15);
  left: rem(15);
  z-index: z('map-controls');
}

.bus-map__controls__group {
  margin-bottom: rem(15);
  border-radius: rem(5);
  box-shadow: $map-control-shadow;
  overflow: hidden;

  &--disabled {
    opacity: .25;
  }
}

.bus-map__controls__button {
  display: block;
  width: rem(30);
  height: rem(30);
  color: $base-color-action;
  line-height: rem(30);
  text-align: center;

  &:hover {
    color: $icon-color-hover;
  }

  &:first-child {
    @include button-with-yellow-stripes-bg-top;
  }

  &:last-child {
    @include button-with-yellow-stripes-bg-bottom;
  }
}

.bus-map__attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: rem(5);
  border-top-left-radius: rem(5);
  background-color: $attribution-background-color;
  color: $attribution-color;
  font-size: $attribution-font-size;
  z-index: z('map-controls');
}
