.leaflet-top,
.leaflet-bottom {
  z-index: z('map-controls');
}

.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$menu-height});
  font: inherit;
}
