.district {
  @include msg-box-wrapper;
}

.district__title {
  @include msg-box-title;
}

.district__title--main {
  @include msg-box-main-title;
}

.district__title--sub {
  @include msg-box-sub-title;
}

.district__logo {
  width: rem(100);
  margin: rem(10) auto rem(20);

  img {
    width: 100%;
    height: auto;
  }
}

.district__content {
  padding: rem(10) $form-bottom-spacing $form-bottom-spacing;
}

.district__cta--sign-in,
.district__cta--register {
  @extend %button;
  @include button-with-yellow-stripes-bg-bottom;
  a {
    color: $base-font-invert-color;
  }
}

.district__cta--sign-in {
  margin-right: rem(3);
}
