.menu {
  @include bg-gradient-with-lines(
    $color-primary, $color-primary, rgba($color-primary-darken-2, .8), rem(2), rem(1));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $menu-height;
}
