.menu {
  @include bg-gradient-with-lines(
    $color-secondary, $color-secondary, rgba($color-secondary-darken-2, .8), rem(2), rem(1));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $menu-height;
}
