.modal__overlay {
  @include transition(opacity .25s ease);
  @include position(fixed, 0);
  padding-top: rem(10);
  background-color: rgba(#000, .85);
  text-align: center;
  z-index: z('modal-overlay');
  overflow-y: scroll;

  @include media($large-screen) {
    padding-top: rem(160);
    padding-bottom: rem(160);
  }
}

.modal__body {
  padding: $modal-section-padding;
}

.modal__inner {
  position: relative;
  max-width: rem(270);
  margin: auto;
  margin-bottom: $modal-item-padding;
  border-radius: $modal-radius;
  background-color: $base-background-color;
  color: $modal-font-color;
  text-align: left;
}

.modal__title {
  @include border-top-radius($modal-radius);
  position: relative;
  margin-bottom: 0;
  padding-top: $modal-item-padding;
  padding-bottom: $modal-item-padding - rem(5);
  padding-left: rem(30);
  background-color: $color-secondary;
  color: $base-font-invert-color;
  font-size: rem(18);
  text-align: left;
  text-transform: uppercase;
}

.modal__section {
  padding: $modal-section-padding;
}

.modal__section-heading {
  margin-bottom: 0;
  font-family: $heading-font-family;
  font-size: rem(14);
  text-transform: uppercase;
}

.modal fieldset {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  background-color: $base-background-color;
}

.modal form {
  font-size: .9em;
}

.modal__close--title {
  @extend %btn--close--icon;
  position: absolute;
}

.modal__close {
  margin-bottom: $modal-padding;
  padding: $button-padding;
  float: right;
  border-radius: rem(35);
}

.modal__sign-out {
  @extend %btn--sign-out;
}
