.modal__overlay {
  @include transition(opacity .25s ease);
  @include position(fixed, 0);
  padding-top: rem(10);
  background-color: rgba(#000, .85);
  text-align: center;
  z-index: z('modal-overlay');
  overflow-y: scroll;

  @include media($large-screen) {
    padding-top: rem(160);
    padding-bottom: rem(160);
  }
}

.modal__body {
  padding: $modal-section-padding;
  padding-top: 0;
}

.modal__inner {
  position: relative;
  max-width: rem(270);
  margin: auto;
  margin-bottom: $modal-item-padding;
  border-radius: $msg-box-radius;
  background-color: $base-background-color;
  color: $modal-font-color;
  text-align: left;
}

.modal__title {
  @include msg-box-title;
  padding-left: rem(30);
  font-size: rem(18);
  text-align: left;
}

.modal__section {
  padding: $form-section-padding;
}

.modal form {
  font-size: .9em;
}

.modal__close--title {
  @include close-icon;
  position: absolute;
}

.modal__close {
  margin-bottom: $modal-padding;
  padding: $button-padding;
  float: right;
}

.modal__sign-out {
  @include btn--sign-out;
}
