.settings--add-student-cta {
  display: block;
  margin-bottom: $section-spacing;
  padding-bottom: $section-spacing;
  cursor: pointer;
  vertical-align: middle;

  &:hover,
  &:focus {
    .add-student-cta__icon {
      background-color: $color-action-hover;
    }
  }
}

.settings__edit-profile-cta {
  float: right;
}

.settings__change-password-cta {
  display: block;
  margin-bottom: rem(10);
}

.add-student-cta__icon {
  @include btn--plus;
}

.add-student-cta__text {
  vertical-align: middle;
}
