.settings__profile__unconfirmed-email {
  margin-top: rem(10);
  font-size: rem(12);
}

.settings__edit-cta {
  position: absolute;
  top: $section-spacing * 2;
  right: rem(20);
  font-size: rem(13);
  text-decoration: none;

  &:hover,
  &:focus {
    .settings__edit-cta__text {
      text-decoration: none;
    }
  }
}

.settings__edit-cta__text {
  text-decoration: underline;
}

.settings__change-password-cta {
  display: block;
  margin-bottom: rem(10);
}

.settings__locale-picker {
  label {
    @include form-section-heading;
    margin-bottom: 0;
    padding-top: $section-spacing;
    border-top: 1px $base-border-color solid;
    text-align: left;
  }

  select {
    display: block;
    margin-top: rem(12);
  }
}
