.form--sign-in {
  @extend %wrapper;
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  padding-top: 0;
  border: 0;
  border-radius: $form-radius;
  background-color: $base-background-color;

  .msg--error {
    padding: rem(10) rem(20);
    border-top-left-radius: $form-radius;
    border-top-right-radius: $form-radius;
  }

  input[type] {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $base-border-color;
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-top: 0;
      border-top-left-radius: $form-radius;
      border-top-right-radius: $form-radius;
    }
  }
}

.sign-in__msg--error {
  background-color: rgba($color-error, .1);
  color: $color-error;
  line-height: 1.4;
}

.sign-in__submit {
  @include btn--sign-in;
}

.sign-in__register-cta a {
  @extend %page-view-link;
}
