.form--sign-in {
  @include form-wrapper;

  input[type] {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $base-border-color;
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-top: 0;
      border-top-left-radius: $form-radius;
      border-top-right-radius: $form-radius;
    }
  }
}

.sign-in__msg--error {
  @include error-msg;
  @include error-field;
}

.sign-in__submit {
  @include btn--sign-in;
}

.sign-in__register-cta a {
  @extend %page-view-link;
}
