.social-media__cta {
  display: inline-block;
  vertical-align: top;
}

.social-media__cta--email {
  @extend %button;
  @include about-cta-font-size;
  @include bg-gradient-with-lines(
    $color-tertiary-darkest, $color-tertiary-darkest, lighten($color-tertiary-darkest, 12%), rem(2), rem(1));
  margin-top: rem(1);
  line-height: rem(17);

  &:hover {
    background: darken($color-tertiary-darkest, 10%);
  }
}

// scss-lint:disable SelectorFormat
.fb_iframe_widget iframe {
  transform: scale(1.3);
  transform-origin: top left;
}
// scss-lint:enable SelectorFormat

// scss-lint:disable ImportantRule
.social-media__cta--fb span {
  margin-top: rem(1);
  vertical-align: top !important;
}
// scss-lint:enable ImportantRule

.social-media__cta--twitter {
  margin-left: rem(17);
}
