.student {
  display: flex;
  align-items: center;
  margin-bottom: $item-spacing * 2;
}

.student--not-located {
  position: relative;
  align-items: flex-start;

  .student__abbreviation,
  .student__nickname,
  .student__school {
    opacity: .3;
  }
}

.student__abbreviation {
  @include student-abbreviation;
  flex-shrink: 0;
}

.student__warning-icon {
  position: absolute;
  top: rem(20);
  left: rem(25);
}

.student__nickname {
  font-size: rem(14);
}

.student__school {
  font-size: rem(10);
}

.student__warning {
  font-size: rem(12);
}
