.main__outer--map-view {
  position: relative;
  height: 100vh;
}

.main__outer--page-view {
  position: relative;
  height: auto;
  min-height: 100vh;
  background-color: $color-primary;
  background-image: image-path('background_sun.svg'),
    image-path('background_clouds.svg'),
    image-path('background_landscape_wide.svg');
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-position: rem(15) rem(10), 0 rem(5), center bottom;
  background-size: rem(100) rem(100), rem(1495) rem(167), rem(960) rem(170);

  .cssgradients & {
    background-color: transparent;
    background-image: image-path('background_sun.svg'),
      image-path('background_clouds.svg'),
      image-path('background_landscape_wide.svg'),
      repeating-linear-gradient(
        to right,
        $color-secondary,
        $color-secondary rem(2),
        rgba($color-secondary, .9) rem(2),
        rgba($color-secondary, .9) rem(3)
      );
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: rem(15) rem(10), 0 0, center bottom, left top;
    background-size: rem(100) rem(100), rem(1495) rem(167), rem(960) rem(170), 100% 100%;
  }
}

.logo {
  @include hide-text;
  position: absolute;
  top: rem(14);
  right: rem(10);
  width: rem(150);
  height: rem(100);
  background-image: image-path('logo_schoolbot_cloud.svg');
  background-repeat: no-repeat;

  @include media($background-landscape) {
    top: rem(25);
    right: rem(0);
    width: rem(190);
    height: rem(110);
  }
}

.main__content {
  @include global-content-width;
  position: relative;
  padding-top: rem(120);
  padding-bottom: rem(50);
}
