.main__outer--map-view,
.main__outer--page-view {
  position: relative;
  height: 100vh;
}

.main__outer--page-view {
  background-image: image-path('background_sun.svg'),
    image-path('background_cloud.svg'),
    repeating-linear-gradient(
      to right,
      $color-primary,
      $color-primary rem(2),
      rgba($color-primary, .9) rem(2),
      rgba($color-primary, .9) rem(3)
    );
  background-repeat: no-repeat, repeat-x;
  background-position: left top, left top;
  background-size: auto;

  @include media($background-landscape) {
    background-image: image-path('background_sun.svg'),
      image-path('background_cloud.svg'),
      image-path('background_grass.svg'),
      repeating-linear-gradient(
        to right,
        $color-primary,
        $color-primary rem(2),
        rgba($color-primary, .9) rem(2),
        rgba($color-primary, .9) rem(3)
      );
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-position: left top, left top, left bottom;
    background-size: auto, auto, rem(1) rem(108);
  }
}

.main__inner--page-view {
  position: relative;
  max-width: $background-landscape-width;
  height: 100vh;
  margin: auto;
  background-image: image-path('background_landscape.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.logo {
  @include hide-text;
  position: absolute;
  top: rem(20);
  right: rem(20);
  width: rem(160);
  height: rem(60);
  background-image: image-path('schoolbot_logo.svg');
  background-repeat: no-repeat;
}

.main__content {
  @extend %wrapper;
  padding-top: rem(120);
}
