.main__outer--map-view,
.main__outer--page-view {
  position: relative;
  height: 100vh;
  min-height: $background-min-height;
}

.main__outer--page-view {
  background-color: $color-primary;
  background-image: image-path('background_sun.svg'),
    image-path('background_clouds.svg'),
    image-path('background_landscape_wide.svg');
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-position: rem(15) rem(10), 0 rem(5), center bottom;
  background-size: rem(100) rem(100), rem(1495) rem(167), rem(960) rem(170);

  .cssgradients & {
    background-color: transparent;
    background-image: image-path('background_sun.svg'),
      image-path('background_clouds.svg'),
      image-path('background_landscape_wide.svg'),
      repeating-linear-gradient(
        to right,
        $color-primary,
        $color-primary rem(2),
        rgba($color-primary, .9) rem(2),
        rgba($color-primary, .9) rem(3)
      );
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: rem(15) rem(10), 0 0, center bottom, left top;
    background-size: rem(100) rem(100), rem(1495) rem(167), rem(960) rem(170), 100% 100%;
  }
}

.main__inner--page-view {
  position: relative;
  max-width: $background-landscape-width;
  margin: auto;
}

.logo {
  @include hide-text;
  position: absolute;
  top: rem(14);
  right: rem(10);
  width: rem(150);
  height: rem(100);
  background-image: image-path('logo_schoolbot_cloud.svg');
  background-repeat: no-repeat;

  @include media($background-landscape) {
    top: rem(25);
    right: rem(0);
    width: rem(190);
    height: rem(110);
  }
}

.main__content {
  @extend %wrapper;
  padding-top: rem(120);
  padding-bottom: rem(50);
}

.heading--district {
  position: relative;
  z-index: z('district-heading');
}

.intro__district-logo {
  width: rem(100);
  margin: auto;
}
