#{$all-button-inputs},
button {
  @include appearance(none);
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  border-radius: $base-border-radius;
  background-color: $color-action;
  color: $base-background-color;
  font-family: $heading-font-family;
  font-size: rem(18);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;

  &:hover,
  &:focus {
    background-color: darken($color-action, 15%);
    color: $base-background-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

[class*="btn"] {
  cursor: pointer;
}

.btn--plus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: rem(1);
    height: rem(9);
    margin-top: rem(-4);
  }
}

.btn--minus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: 0;
    height: 0;
  }
}

.button-group [class*= 'btn-'] {
  margin-bottom: rem(3);
}

.btn--add-student {
  margin-top: rem(10);
}
