#{$all-button-inputs},
%button {
  @include appearance(none);
  @include button-with-purple-stripes-bg;
  display: inline-block;
  padding: $button-padding;
  border: 0;
  border-radius: $base-border-radius;
  color: $base-background-color;
  font-family: $heading-font-family;
  font-size: rem(14);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $base-color-action-hover;
    color: $base-background-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.msg__close {
    background: none;
  }
}

button {
  @extend %button;
}

[class*="btn"] {
  cursor: pointer;
}

.button-group {
  padding-bottom: $section-spacing * 2;
  text-align: center;

  &--district {
    padding-top: rem(10);
    padding-bottom: 0;
  }

  &--edit-profile {
    padding-bottom: 0;
  }
}

.btn--settings,
.btn--help {
  @include button-with-yellow-stripes-bg-bottom;
  height: 100%;
  padding-top: rem(10);
  padding-right: rem(20);
  padding-left: rem(20);
  border-radius: 0;
  background-color: transparent;
  color: $base-color-action;

  &:hover,
  &:focus {
    background-color: transparent;

    i,
    .btn--settings__text,
    .btn--help__text {
      color: $icon-color-hover;
    }
  }

  i {
    @include transition(color);
    font-size: rem(30);
  }
}

.btn--settings {
  padding-right: 0;
}

.btn--settings__text,
.btn--help__text {
  @include transition(color);
  display: block;
}
