form {
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  padding-top: rem(15);
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  color: $base-font-color;
  font-size: rem(14);
}

fieldset {
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
  border: $base-border;
  background-color: lighten($base-border-color, 10%);
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  width: 100%;
  margin-bottom: $base-spacing / 2;
  padding: rem(10) rem(20);
  transition: border-color;
  border: $base-border;
  border-radius: $base-border-radius;
  background-color: $base-background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $color-action;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  width: 100%;
  padding-bottom: $small-spacing;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-spacing;
}
