form {
  margin-bottom: $section-spacing;
  padding-top: rem(10);
  color: $base-font-color;
  font-size: rem(12);

  &.form--add-student {
    padding-top: 0;
  }
}

.form--register {
  @include msg-box-wrapper;
  max-width: $form-width-large-screen;
  margin: auto;

  @include media($small-screen) {
    width: 70%;
  }
}

.form--add-student {
  border-bottom: 1px solid $base-border-color;
}

fieldset {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  background-color: transparent;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: rem(12);
}

label {
  margin-bottom: $small-spacing / 2;
  font-size: rem(12);

  &.required::after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  width: 100%;
  padding: rem(5) rem(10);
  transition: border-color;
  border: $base-border;
  border-radius: $base-border-radius;
  background-color: $base-background-color;
  font-family: $base-font-family;
  font-size: rem(12);
  box-shadow: $form-box-shadow;
  box-sizing: border-box;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $color-action;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  width: 100%;
  padding-bottom: $small-spacing;
}

select {
  width: auto;
  max-width: 100%;
  // Add border to trigger the style update in Chrome
  // more details: https://css-tricks.com/dropdown-default-styling
  border: 1px $base-border-color solid;
}

.form__item {
  margin-bottom: $section-spacing;
}

.form__item--error {
  input,
  select {
    @include error-field;
  }
}

.form__item--state {
  display: inline-block;
  width: rem(60);
  margin-right: $section-spacing;
}

.form__item--zip-code {
  display: inline-block;
  width: rem(120);
}

.form__cta--save,
.form__cta--cancel {
  padding: $button-padding;
}

.form__title {
  @include msg-box-title;
}

.form__title__back-cta {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: rem(8);
  padding-right: rem(15);
  padding-bottom: rem(6);
  padding-left: rem(15);
}

.form__title--main {
  @include msg-box-main-title;
}

.form__title--sub {
  @include msg-box-sub-title;
}

.form__section {
  padding: $form-section-padding;

  &:first-of-type {
    .form__section-heading {
      border: 0;
    }
  }
}

.form__section--register {

  @include media($medium-screen) {
    padding-right: $form-side-padding-large-screen;
    padding-left: $form-side-padding-large-screen;
  }
}

.form__section-heading {
  @include clearfix;
  @include form-section-heading;
  width: 100%;
  padding-top: $section-spacing;
  border-top: 1px $base-border-color solid;
  font-weight: normal;
}

.form__fieldset--add-student {
  margin-top: $section-spacing;
  padding-top: $section-spacing;
  padding-right: rem(20);
  padding-bottom: $section-spacing;
  padding-left: rem(20);
  background-color: rgba($color-secondary, .2);

}

.form__section-heading--encrypted {
  padding-bottom: $section-spacing;
  line-height: 1.5;
}

.form__label--address {
  @include form-section-heading;
}

.form__note {
  font-size: rem(10);
  font-style: italic;
  line-height: 1.3;
}

.form__select--school {
  width: 100%;
  height: rem(28);
}

.form__section--bottom {
  text-align: center;
}

.form__section--bottom--register {
  padding-bottom: $form-bottom-spacing;
}

.form__section--bottom__note {
  text-align: center;

  a {
    @include form-link;
  }
}

.form__link {
  @include form-link;
}

.form__link--cancel {
  @include form-link;
  display: block;
  font-size: rem(12);
}

.form__error--field {
  @include error-msg;
  margin-bottom: $section-spacing;
}

.form__error--global {
  @include error-msg;
  margin-bottom: $section-spacing;
}

.form__submit-cta {
  margin-bottom: $item-spacing;
}

.form__submit-cta--sign-in {
  margin-bottom: $section-spacing;
}
