.icon--settings {
  @extend %icon-profile;
}

%icon-circle {
  @include hide-text;
  display: inline-block;
  position: relative;
  width: $icon-circle-radius * 2;
  height: $icon-circle-radius * 2;
  padding: 0;
  border-radius: $icon-circle-radius;
  background-color: $color-secondary;
  color: $base-font-invert-color;
  vertical-align: middle;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: inset 0 0 0 32px;
    content: '';
  }
}

%icon-profile {
  display: inline-block;
  position: relative;
  width: rem(32);
  height: rem(14);
  margin-top: rem(20);
  transition: color $base-transition-speed ease-out,
      background-color $base-transition-speed ease-out;
  border: 2px solid transparent;
  border-top-left-radius: rem(64);
  border-top-right-radius: rem(64);
  background-color: $icon-color;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    position: absolute;
    top: rem(-20);
    left: 50%;
    width: rem(16);
    height: rem(16);
    transform: translateX(-50%);
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: $icon-color;
  }
}
