%icon-circle {
  @include hide-text;
  display: inline-block;
  position: relative;
  width: $icon-circle-radius * 2;
  height: $icon-circle-radius * 2;
  padding: 0;
  border-radius: $icon-circle-radius;
  background-color: $icon-color;
  color: $base-font-invert-color;
  vertical-align: middle;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: inset 0 0 0 32px;
    content: '';
  }
}
