%wrapper {
  width: rem(300);
  margin: auto;
}

%form-border-decor {
  background: image-path('line_gradient-yellow.jpg') repeat-x, $color-secondary;
}

// Positioning
@mixin v-center-content-block {
  display: flex;
  padding-top: rem(50);
  padding-bottom: rem(50);
  align-items: center;
}

// Link style when it is on the illustration background
%page-view-link {
  color: $base-font-invert-color;

  &:hover,
  &:focus {
    color: rgba($base-font-invert-color, .8);
  }
}

// Background
@mixin bg-gradient-with-lines($space-color, $line-top-color, $line-bottom-color, $space-width: rem(3), $line-width: rem(1)) {
  background-color: $space-color;

  .cssgradients & {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent $line-width,
        $space-color $line-width,
        $space-color $space-width
      ),
      linear-gradient(
        to bottom,
        $line-top-color,
        $line-bottom-color
      );
    background-color: transparent;
  }
}

@mixin black-gradient-with-lines {
  background-color: $color-tertiary-darkest;

  .cssgradients & {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent rem(1),
        $color-tertiary-darkest rem(1),
        $color-tertiary-darkest rem(4)
      ),
      linear-gradient(
        to bottom,
        $color-tertiary-darkest,
        lighten($color-tertiary-darkest, 12%),
        $color-tertiary-darkest
      );
  }
}

// Buttons
@mixin btn--plus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: rem(1);
    height: rem(9);
    margin-top: rem(-4);
  }
}

@mixin btn--minus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: 0;
    height: 0;
  }
}

@mixin btn--sign-in {
  @include full-width-button('true');
}

@mixin btn--sign-out {
  @include full-width-button('false');
}

@mixin close-icon {
  @extend %icon-circle;
  top: rem(4);
  right: rem(10);
  width: rem(30);
  height: rem(30);
  transform: rotate(45deg);
  border-radius: rem(2);
  background-color: transparent;

  &:before,
  &:after {
    color: $base-font-invert-color;
  }

  &:before {
    width: rem(16);
    height: rem(2);
    margin-left: rem(-7);
  }

  &:after {
    width: rem(2);
    height: rem(16);
    margin-top: rem(-7);
  }

  &:hover {
    background-color: transparent;
  }
}

@mixin full-width-button($bg-image: true) {
  @if $bg-image == 'true' {
    @extend %form-border-decor;
  }

  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: $form-radius;
  border-bottom-right-radius: $form-radius;
  font-size: rem(16);
  text-align: center;

  &:hover {
    background: $color-action-hover;
  }
}

// Modal (include the modal like style)
@mixin form-title {
  @include border-top-radius($modal-radius);
  position: relative;
  margin-bottom: 0;
  padding-top: $modal-item-padding;
  padding-bottom: $modal-item-padding - rem(5);
  background-color: $color-secondary;
  color: $base-font-invert-color;
  font-size: rem(16);
  text-align: center;
  text-transform: uppercase;
}

@mixin form-section-heading {
  margin-bottom: rem(-10);
  font-family: $heading-font-family;
  font-size: rem(16);
  text-transform: uppercase;
}

@mixin form-wrapper {
  @extend %wrapper;
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  padding-top: 0;
  border: 0;
  border-radius: $form-radius;
  background-color: $base-background-color;
}

@mixin error-msg {
  display: block;
  font-size: rem(12);
  color: $color-error;
  line-height: 1.4;
}

@mixin error-field {
  background-color: rgba($color-error, .1);
}

@mixin form-link {
  color: $base-font-color;
  text-decoration: underline;

  &:hover {
    color: $color-action;
  }
}

@mixin list-item-number {
  position: relative;
  padding-top: $item-spacing;
  padding-left: rem(40);
  padding-bottom: $item-spacing;
  counter-increment: itemNum;

  &:before,
  &:after {
    position: absolute;
    top: rem(6);
    left: 0;
  }

  &:before {
    padding-top: rem(2);
    padding-left: rem(10);
    color: $color-secondary;
    font-size: rem(20);
    line-height: rem(20);
    content: counters(itemNum, '.');
    z-index: z('about-content-list-number');
    counter-increment: list-item;
  }

  &:after {
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    background-color: rgba($base-background-color, .9);
    content: '';
    z-index: z('about-content-list-number-circle');
  }
}
