// Icons
%icon-circle-plus {
  position: relative;
  width: $icon-circle-radius * 2;
  height: $icon-circle-radius * 2;
  border-radius: $icon-circle-radius;
  text-indent: rem(-9999);

  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    box-shadow: inset 0 0 0 32px;
  }

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: rem(1);
    height: rem(9);
    margin-top: rem(-4);
  }
}
