%wrapper {
  width: rem(310);
  margin: auto;
}

%form-border-decor {
  background: image-path('line_gradient-yellow.jpg') repeat-x, $color-secondary;
}

@mixin global-content-width {
  @extend %wrapper;

  @include media($small-screen) {
    width: rem(500);
  }

  @include media($medium-screen) {
    width: rem(600);
  }
}

// Positioning
@mixin v-center-content-block {
  display: flex;
  align-items: center;
}

// Link style when it is on the illustration background
@mixin page-view-link {
  color: $base-font-invert-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-secondary-darken-2;
    text-decoration: none;
  }
}

@mixin page-view-link-bottom {
  color: $base-font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-font-color;
    text-decoration: none;
  }
}

// TODO: fine tune this(all the links hover style) once we improve the color theme
@mixin page-view-link-bottom-invert {
  color: $base-font-invert-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-font-invert-color;
    text-decoration: none;
  }
}


// Background
@mixin bg-gradient-with-lines($space-color, $line-top-color, $line-bottom-color, $space-width: rem(3), $line-width: rem(1)) {
  background-color: $space-color;

  .cssgradients & {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent $line-width,
        $space-color $line-width,
        $space-color $space-width
      ),
      linear-gradient(
        to bottom,
        $line-top-color,
        $line-bottom-color
      );
    background-color: transparent;
  }
}

@mixin black-gradient-with-lines {
  background-color: $color-tertiary-darkest;

  .cssgradients & {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent rem(1),
        $color-tertiary-darkest rem(1),
        $color-tertiary-darkest rem(4)
      ),
      linear-gradient(
        to bottom,
        $color-tertiary-darkest,
        lighten($color-tertiary-darkest, 12%),
        $color-tertiary-darkest
      );
  }
}

// Buttons
@mixin btn--plus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: rem(1);
    height: rem(9);
    margin-top: rem(-4);
  }
}

@mixin btn--minus {
  @extend %icon-circle;

  &:before {
    width: rem(9);
    height: rem(1);
    margin-left: rem(-4);
  }

  &:after {
    width: 0;
    height: 0;
  }
}

@mixin btn--sign-in {
  @include full-width-button('true');
}

@mixin btn--sign-out {
  @include full-width-button('false');
}

@mixin close-icon {
  @extend %icon-circle;
  top: rem(4);
  right: rem(10);
  width: rem(30);
  height: rem(30);
  transform: rotate(45deg);
  border-radius: rem(2);
  background-color: transparent;

  &:before,
  &:after {
    color: $base-font-invert-color;
  }

  &:before {
    width: rem(16);
    height: rem(2);
    margin-left: rem(-7);
  }

  &:after {
    width: rem(2);
    height: rem(16);
    margin-top: rem(-7);
  }

  &:hover {
    background-color: transparent;
  }
}

@mixin full-width-button($bg-image: true) {
  @if $bg-image == 'true' {
    @extend %form-border-decor;
  }

  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: $msg-box-radius;
  border-bottom-right-radius: $msg-box-radius;
  font-size: rem(16);
  text-align: center;

  &:hover {
    background: $color-action-hover;
  }
}

@mixin button-with-yellow-stripes-bg-bottom {
  @include bg-gradient-with-lines(
    $color-secondary, $color-secondary, rgba($color-secondary-darken-2, .8), rem(2), rem(1));

  &:hover {
    background: $color-action-hover;
  }
}

@mixin button-with-yellow-stripes-bg-top {
  @include bg-gradient-with-lines(
    $color-secondary, rgba($color-secondary-darken-2, .8), $color-secondary, rem(2), rem(1));

  &:hover {
    background: $color-action-hover;
  }
}

// Msg-box (the modal like style)
@mixin msg-box-wrapper {
  @extend %wrapper;
  margin-top: $section-spacing;
  margin-bottom: $section-spacing;
  padding-top: 0;
  border: 0;
  border-radius: $msg-box-radius;
  background-color: rgba($base-background-color, .9);
}

@mixin msg-box-title {
  @include border-top-radius($msg-box-radius);
  @include bg-gradient-with-lines(
    $color-secondary, rgba($color-secondary-darken-2, .8), $color-secondary);
  position: relative;
  margin-bottom: 0;
  padding: $section-spacing;
  background-color: $color-secondary;
  color: $base-font-invert-color;
  font-size: $title-font-size;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $icon-color;

    &:hover {
      color: $icon-color-hover;
    }
  }
}

@mixin msg-box-main-title {
  margin-bottom: 0;
  font-size: $title-font-size;
}

@mixin msg-box-sub-title {
  margin-bottom: 0;
  font-size: $sub-title-font-size;
}

@mixin msg-box-back-cta {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: rem(8);
  padding-right: rem(15);
  padding-bottom: rem(6);
  padding-left: rem(15);
}

@mixin form-section-heading {
  font-family: $heading-font-family;
  font-size: rem(16);
  text-transform: uppercase;
}

@mixin error-msg {
  display: block;
  font-size: rem(12);
  color: $color-error;
  line-height: 1.4;
}

@mixin error-field {
  background-color: rgba($color-error, .1);
}

@mixin form-link {
  color: $base-font-color;
  text-decoration: underline;

  &:hover {
    color: $color-action;
    text-decoration: none;
  }
}

@mixin list-item-number {
  position: relative;
  padding-top: $item-spacing;
  padding-left: rem(40);
  padding-bottom: $item-spacing;
  counter-increment: itemNum;

  &:before,
  &:after {
    position: absolute;
    top: rem(6);
    left: 0;
  }

  &:before {
    top: rem(5);
    padding-top: rem(2);
    padding-left: rem(11);
    color: $color-secondary;
    font-family: $heading-font-family;
    font-size: rem(20);
    content: counters(itemNum, '.');
    z-index: z('about-content-list-number');
    counter-increment: list-item;
  }

  &:after {
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    background-color: rgba($base-background-color, .9);
    content: '';
    z-index: z('about-content-list-number-circle');
  }
}

// Learning Page
@mixin about-cta-font-size {
  font-size: $about-cta-font-size-small;

  @include media($medium-screen) {
    font-size: $about-cta-font-size-large;
  }
}

@mixin about-content-font-size {
  font-size: $about-content-font-size-small;

  @include media($medium-screen) {
    font-size: $about-content-font-size-large;
  }
}

// Map makers
@mixin student-abbrev {
  display: inline-block;
  width: rem(40);
  height: rem(40);
  margin-right: $item-spacing * 2;
  padding: rem(5);
  border-radius: 50%;
  background-color: $color-primary;
  color: $base-font-invert-color;
  font-family: $heading-font-family;
  font-size: rem(18);
  text-align: center;
  line-height: rem(30);
}

// Transition
@mixin transition($property) {
  transition: $property $base-transition-speed $base-transition-ease;
}
