table {
  @include font-feature-settings('kern', 'liga', 'tnum');
  width: 100%;
  margin: $small-spacing 0;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  padding: $small-spacing 0;
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  text-align: left;
}

td {
  padding: $small-spacing 0;
  border-bottom: $base-border;
}

tr,
td,
th {
  vertical-align: middle;
}
