// @font-face
@font-face {
  font-family: 'Print-Bold';
  src: url($font-path + 'PrintBold-webfont.eot');
  src: url($font-path + 'PrintBold-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-path + 'PrintBold-webfont.woff') format('woff'),
  url($font-path + 'PrintBold-webfont.ttf') format('truetype'),
  url($font-path + 'PrintBold-webfont.svg#print_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Sans';
  src: url($font-path + 'merriweathersans-regular-webfont.eot');
  src: url($font-path + 'merriweathersans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-path + 'merriweathersans-regular-webfont.woff2') format('woff2'),
  url($font-path + 'merriweathersans-regular-webfont.woff') format('woff'),
  url($font-path + 'merriweathersans-regular-webfont.ttf') format('truetype'),
  url($font-path + 'merriweathersans-regular-webfont.svg#merriweather_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Body
body {
  @include font-feature-settings('kern', 'liga', 'pnum');
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  transition: color .1s linear;
  color: $color-action;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: darken($color-action, 10%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;
  border-top: 0;
  border-right: 0;
  border-bottom: $base-border;
  border-left: 0;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}
