// Typography
//$base-font-family: $helvetica;
//$heading-font-family: $base-font-family;
$base-font-family: 'Merriweather-Sans', $helvetica;
$heading-font-family: 'Print-Bold', $helvetica;

// Font Sizes
$base-font-size: rem(14);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$item-spacing: rem(5);
$section-spacing: rem(10);
$background-landscape-width: rem(500);

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-primary: #66cce8;
$color-secondary: #f5c738;
$color-secondary-darken-1: #f8b558;
$color-secondary-darken-2: #f89a3b;
$color-secondary-darken-3: #e66366;
$color-secondary-darken-4: #ef4558;
$color-secondary-darken-5: #b9276e;
$color-grass: #78c273;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-font-invert-color: #fff;
$color-action: $color-secondary;
$color-action-hover: darken($color-action, 10%);
$color-menu-hover: $base-font-invert-color;
$color-error: $color-secondary-darken-4;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Menu
$menu-height: rem(50);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($color-action, $lightness: -5%, $alpha: -.3);
$form-radius: rem(10);

// Modals
$modal-font-color: $base-font-color;
$modal-radius: $form-radius;
$modal-padding: rem(10);
$modal-item-padding: $section-spacing;
$modal-section-padding: rem(10) rem(15);

// Icons
$icon-circle-radius: rem(10);
$icon-color: lighten($color-secondary, 30%);

// Buttons
$button-padding: rem(5) rem(16);

// Nickname Abbreviations
$nickname-abbrev-odd-color: $color-primary;
$nickname-abbrev-even-color: $color-secondary-darken-3;

// Map
$bus-path-color: $dark-gray;

// Transition
$base-transition-speed: .15s;

// Media Queries
$background-landscape: new-breakpoint(min-width $background-landscape-width);

// Z-index
// NOTE: map-controls should not be less than the Leaflet default of 1000
$z-layers: (
  'map-controls': 1000,
  'modal-overlay': 2000
);
