// Typography
//$base-font-family: $helvetica;
//$heading-font-family: $base-font-family;
$base-font-family: 'Merriweather-Sans', $helvetica;
$heading-font-family: 'Print-Bold', $helvetica;

// Font Sizes
$base-font-size: rem(14);
$title-font-size: rem(20);
$sub-title-font-size: $base-font-size;
$about-cta-font-size-small: rem(16);
$about-cta-font-size-large: rem(18);
$about-content-font-size-small: rem(15);
$about-content-font-size-large: rem(17);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: rem(6);
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$item-spacing: rem(5);
$section-spacing: rem(10);
$background-landscape-width: rem(500);
$background-min-height: rem(500);

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-primary: #66cce8;
$color-secondary: #f5c738;
$color-secondary-darken-1: #f8b558;
$color-secondary-darken-2: #f89a3b;
$color-secondary-darken-3: #e66366;
$color-secondary-darken-4: #ef4558;
$color-secondary-darken-5: #b9276e;
$color-tertiary: #b3d15d;
$color-tertiary-darken: #78c273;
$color-tertiary-darkest: #5a5a5a;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-font-invert-color: #fff;
$color-action: $color-secondary;
$color-action-hover: darken($color-action, 10%);
$color-error: $color-secondary-darken-4;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Menu
$menu-height: rem(50);

// Msg-box and Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($color-action, $lightness: -5%, $alpha: -.3);
$msg-box-radius: rem(10);
$form-section-padding: rem(10) rem(15);

// Modals
$modal-font-color: $base-font-color;
$modal-padding: rem(10);
$modal-item-padding: $section-spacing;
$modal-section-padding: $form-section-padding;

// Icons
$icon-circle-radius: rem(10);
$icon-color: $base-font-invert-color;
$icon-color-hover: lighten($color-secondary, 30%);

// Buttons
$button-padding: rem(10) rem(25);

// Footer
$footer-height: $menu-height;

// Abbreviations
$abbreviation-first-color: $color-secondary-darken-3;
$abbreviation-second-color: $color-primary;
$abbreviation-third-color: $color-secondary-darken-1;

// Map
$bus-path-color: $dark-gray;

// Transition
$base-transition-speed: .1s;
$base-transition-ease: ease;

// Media Queries
$background-landscape: new-breakpoint(min-width $background-landscape-width);

// Z-index
// NOTE: map-controls should not be less than the Leaflet default of 1000
$z-layers: (
  'map-controls': 1000,
  'modal-overlay': 2000,
  'district-heading': 5,
  'about-content-list-number': 4,
  'about-content-list-number-circle': 3,
  'about-content-wrapper': 1
);
