// Typography
//$base-font-family: $helvetica;
//$heading-font-family: $base-font-family;
$base-font-family: 'Merriweather-Sans', $helvetica;
$heading-font-family: 'Print-Bold', $helvetica;

// Font Sizes
$base-font-size: rem(16);
$title-font-size: rem(22);
$sub-title-font-size: $base-font-size;
$terms-title-font-size: rem(22);
$terms-content-font-size: rem(14);
$about-cta-font-size-small: rem(14);
$about-cta-font-size-large: rem(16);
$about-content-font-size-small: rem(14);
$about-content-font-size-large: rem(16);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: rem(6);
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$item-spacing: rem(5);
$section-spacing: rem(15);
$background-landscape-width: rem(500);
$background-min-height: rem(500);

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-primary: #f5c738;
$color-primary-darken-1: #f8b558;
$color-primary-darken-2: #f89a3b;
$color-primary-darken-3: #e66366;
$color-primary-darken-4: #ef4558;
$color-primary-darken-5: #d60000;
$color-secondary: #66cce8;
$color-secondary-darken-1: #b56ba5;
$color-secondary-darken-2: #864685;
$color-secondary-darken-3: #b9276e;
$color-secondary-darken-4: #ef4558;
$color-secondary-darken-5: #b9276e;
$color-secondary-darkest: #1c1836;
$color-tertiary: #b3d15d;
$color-tertiary-darken: #78c273;
$color-tertiary-darkest: #5a5a5a;

// Font Colors
$base-background-color: #fff;
$base-font-color: $color-secondary-darkest;
$base-font-invert-color: #fff;
$base-color-action: $color-secondary-darkest;
$base-color-action-hover: $color-secondary-darken-2;
$color-error: $color-primary-darken-5;
$color-error-bg: lighten($color-primary-darken-5, 55%);

// Shadows and Overlays
$color-modal-overlay: rgba(#000, .85);
$color-bus-marker-shadow: rgba(#000, .5);
$color-form-box-shadow: rgba(#000, .06);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Menu
$menu-height: rem(60);

// Msg-box and Forms
$form-box-shadow: inset 0 1px 3px $color-form-box-shadow;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($base-color-action, $lightness: -5%, $alpha: -.3);
$form-font-size: rem(14);
$form-font-size-sm: rem(12);
$msg-box-radius: rem(10);
$form-bottom-spacing: rem(20);
$form-section-padding: rem(15) rem(15) rem(10);
$form-side-padding-large-screen: rem(50);
$form-width-large-screen: rem(420);

// Modals
$modal-font-color: $base-font-color;
$modal-padding: rem(10);
$modal-item-padding: $section-spacing;
$modal-section-padding: $form-section-padding;

// Icons
$icon-circle-radius: rem(10);
$icon-color: $base-color-action;
$icon-color-hover: lighten($base-color-action, 10%);

// Buttons
$button-padding-side: rem(25);
$button-padding: rem(10) $button-padding-side;
$button-color: $color-secondary-darken-2;

// Footer
$footer-height: $menu-height;

// Abbreviations
$abbreviation-first-color: $color-primary-darken-3;
$abbreviation-second-color: $color-secondary;
$abbreviation-third-color: $color-primary-darken-1;

// Map
$bus-path-color: $dark-gray;

// Transition
$base-transition-speed: .1s;
$base-transition-ease: ease;

// Media Queries
$background-landscape: new-breakpoint(min-width $background-landscape-width);

// Z-index
// NOTE: map-controls should not be less than the Leaflet default of 1000
$z-layers: (
  'flash-msg': 2001,
  'modal-overlay': 2000,
  'map-controls': 1000,
  'district-heading': 5,
  'about-content-list-number': 4,
  'about-content-list-number-circle': 3,
  'about-content-wrapper': 1
);
